
/*--serif--*/


font-family: 'Amiri', serif;
font-family: 'Cormorant', serif;
font-family: 'Cormorant SC', serif;
font-family: 'Gilda Display', serif;
font-family: 'Josefin Slab', serif;
font-family: 'Karma', serif;
font-family: 'Libre Caslon Display', serif;
font-family: 'Maitree', serif;
font-family: 'Peddana', serif;
font-family: 'Scheherazade', serif;

font-family: 'Arvo', serif;

<link href="https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&display=swap" rel="stylesheet">
font-family: 'Libre Caslon Display', serif;

/*!------------------------***********---------------*****************-----------------------------*/

/*--sans serif--*/
font-family: 'Belleza', sans-serif;
font-family: 'Convergence', sans-serif;
font-family: 'El Messiri', sans-serif;
font-family: 'Hind Vadodara', sans-serif;
font-family: 'Philosopher', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Reem Kufi', sans-serif;